body {
    background-color: #282C34;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #3B4048;
}

.square {
    height: 32px;
    width: 32px;
    background-color: #2C313C;
    border: 1px solid #3B4048;
    flex: 0 0 auto;
    box-sizing: border-box;
    color: #ABB2BF;
}

.square.filled {
    background-color: #ABB2BF;
}