body {
    background-color: #282C34;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #3B4048;
    width: 960px;
}

.square {
    background-color: #2C313C;
    border: 1px solid #3B4048;
    flex: 0 0 auto;
    box-sizing: border-box;
    color: #ABB2BF;
}

.square.filled {
    background-color: #ABB2BF;
}